title = "Movie"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

==
<?php
    use Ahorak\Movies\Models\Movie;

    function onStart(){
        $this['movie'] = Movie::where('slug', '=', $this->param('slug'))->first();
    }
?>
==

{% if movie %}
    <h2>{{ movie.name }}</h2>
    
    <img src="{{ movie.poster.thumb(200,auto) }}"> 
    
    <h4>{{ movie.year }}</h4>

    <h3>Actors:</h3>
    {% for actor in movie.actors %}
        {{ actor.name }}
        {{ actor.lastname }}
    {% endfor %}

    <h3>Description:</h3>
    {{ record.description | raw }}

    <h4>Genres:</h4>
    {% for genre in movie.genres %}
        <a href="/genres/{{ genre.slug }}">{{ genre.genre_title}}</a> <br> 
    {% endfor %}

    <h3>Gallery:</h3>

{% else %}
    {{ notFoundMessage }}
{% endif %}